<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="preferExternal" package="bleissem.babyphone" android:versionName="0.8.1" android:versionCode="0">
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19" />
	<application android:label="bleissem.babyphone" android:icon="@drawable/Icon"></application>
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.REORDER_TASKS" />
</manifest>